{:version "1.41.2",
 :source "https://janet-lang.org/1.41.2/api/misc.html",
 :special-forms
 #{"quasiquote"
   "fn"
   "splice"
   "if"
   "break"
   "upscope"
   "do"
   "while"
   "quote"
   "set"
   "unquote"},
 :binding-forms
 #{"loop"
   "var"
   "forever"
   "for"
   "let"
   "eachp"
   "eachk"
   "each"
   "with"
   "with-vars"
   "letn"},
 :definition-forms
 {"var-" :variable,
  "defn" :function,
  "varfn" :function,
  "defmacro-" :macro,
  "var" :variable,
  "def-" :variable,
  "defglobal" :variable,
  "varglobal" :variable,
  "defdyn" :variable,
  "defn-" :function,
  "def" :variable,
  "defmacro" :macro},
 :core
 #{"%"
   "%="
   "*"
   "*="
   "*args*"
   "*current-file*"
   "*debug*"
   "*defdyn-prefix*"
   "*doc-color*"
   "*doc-width*"
   "*err*"
   "*err-color*"
   "*executable*"
   "*exit*"
   "*exit-value*"
   "*ffi-context*"
   "*flychecking*"
   "*lint-error*"
   "*lint-levels*"
   "*lint-warn*"
   "*macro-form*"
   "*macro-lints*"
   "*module-cache*"
   "*module-loaders*"
   "*module-loading*"
   "*module-make-env*"
   "*module-paths*"
   "*out*"
   "*peg-grammar*"
   "*pretty-format*"
   "*profilepath*"
   "*redef*"
   "*repl-prompt*"
   "*syspath*"
   "*task-id*"
   "+"
   "++"
   "+="
   "-"
   "--"
   "-="
   "->"
   "->>"
   "-?>"
   "-?>>"
   "/"
   "/="
   "<"
   "<="
   "="
   ">"
   ">="
   "abstract?"
   "accumulate"
   "accumulate2"
   "all"
   "all-bindings"
   "all-dynamics"
   "and"
   "any?"
   "apply"
   "array"
   "array/new"
   "array?"
   "as->"
   "as-macro"
   "as?->"
   "asm"
   "assert"
   "assertf"
   "bad-compile"
   "bad-parse"
   "band"
   "blshift"
   "bnot"
   "boolean?"
   "bor"
   "brshift"
   "brushift"
   "buffer"
   "buffer/new"
   "buffer?"
   "bxor"
   "bytes?"
   "cancel"
   "case"
   "catseq"
   "cfunction?"
   "chr"
   "cli-main"
   "cmp"
   "comment"
   "comp"
   "compare"
   "compare<"
   "compare<="
   "compare="
   "compare>"
   "compare>="
   "compif"
   "compile"
   "complement"
   "comptime"
   "compwhen"
   "cond"
   "constantly"
   "coro"
   "count"
   "curenv"
   "curry"
   "debug"
   "debugger"
   "debugger-env"
   "debugger-on-status"
   "dec"
   "deep-not="
   "deep="
   "def-"
   "default"
   "default-peg-grammar"
   "defdyn"
   "defer"
   "defglobal"
   "defmacro"
   "defmacro-"
   "defn"
   "defn-"
   "delay"
   "describe"
   "dictionary?"
   "disasm"
   "distinct"
   "div"
   "doc"
   "doc*"
   "doc-format"
   "doc-of"
   "dofile"
   "drop"
   "drop-until"
   "drop-while"
   "dyn"
   "each"
   "eachk"
   "eachp"
   "edefer"
   "eflush"
   "empty?"
   "env-lookup"
   "eprin"
   "eprinf"
   "eprint"
   "eprintf"
   "error"
   "errorf"
   "eval"
   "eval-string"
   "even?"
   "every?"
   "extreme"
   "false?"
   "fiber-fn"
   "fiber/current"
   "fiber/new"
   "fiber/status"
   "fiber?"
   "file/close"
   "file/open"
   "file/popen"
   "file/read"
   "file/write"
   "filter"
   "find"
   "find-index"
   "first"
   "flatten"
   "flatten-into"
   "flush"
   "flycheck"
   "for"
   "forever"
   "forv"
   "freeze"
   "frequencies"
   "from-pairs"
   "function?"
   "gccollect"
   "gcinterval"
   "gcsetinterval"
   "generate"
   "gensym"
   "geomean"
   "get"
   "get-in"
   "getline"
   "getproto"
   "group-by"
   "has-key?"
   "has-value?"
   "hash"
   "idempotent?"
   "identity"
   "if-let"
   "if-not"
   "if-with"
   "import"
   "import*"
   "in"
   "inc"
   "index-of"
   "indexed?"
   "int?"
   "interleave"
   "interpose"
   "invert"
   "juxt"
   "juxt*"
   "keep"
   "keep-syntax"
   "keep-syntax!"
   "keys"
   "keyword"
   "keyword?"
   "kvs"
   "label"
   "last"
   "length"
   "lengthable?"
   "let"
   "load-image"
   "load-image-dict"
   "loop"
   "macex"
   "macex1"
   "maclintf"
   "make-env"
   "make-image"
   "make-image-dict"
   "map"
   "mapcat"
   "marshal"
   "match"
   "max"
   "max-of"
   "mean"
   "memcmp"
   "memoize"
   "merge"
   "merge-into"
   "merge-module"
   "min"
   "min-of"
   "mod"
   "module/find"
   "nan?"
   "nat?"
   "native"
   "neg?"
   "net/accept"
   "net/connect"
   "net/listen"
   "net/read"
   "net/write"
   "next"
   "nextk"
   "nil?"
   "not"
   "not="
   "number?"
   "odd?"
   "one?"
   "or"
   "os/cwd"
   "os/dir"
   "os/execute"
   "os/getenv"
   "os/mkdir"
   "os/remove"
   "os/rename"
   "os/setenv"
   "os/spawn"
   "os/stat"
   "pairs"
   "parse"
   "parse-all"
   "partial"
   "partition"
   "partition-by"
   "pos?"
   "postwalk"
   "pp"
   "prewalk"
   "prin"
   "prinf"
   "print"
   "printf"
   "product"
   "prompt"
   "propagate"
   "protect"
   "put"
   "put-in"
   "quit"
   "range"
   "reduce"
   "reduce2"
   "repeat"
   "repl"
   "require"
   "resume"
   "return"
   "reverse"
   "reverse!"
   "root-env"
   "run-context"
   "sandbox"
   "scan-number"
   "seq"
   "setdyn"
   "short-fn"
   "signal"
   "slice"
   "slurp"
   "some"
   "sort"
   "sort-by"
   "sorted"
   "sorted-by"
   "spit"
   "stderr"
   "stdin"
   "stdout"
   "string"
   "string/ascii-lower"
   "string/ascii-upper"
   "string/format"
   "string/has-prefix?"
   "string/has-suffix?"
   "string/join"
   "string/split"
   "string?"
   "struct"
   "struct?"
   "sum"
   "symbol"
   "symbol?"
   "table"
   "table/new"
   "table?"
   "tabseq"
   "take"
   "take-until"
   "take-while"
   "thaw"
   "thaw-keep-keys"
   "toggle"
   "trace"
   "tracev"
   "true?"
   "truthy?"
   "try"
   "tuple"
   "tuple?"
   "type"
   "unless"
   "unmarshal"
   "untrace"
   "update"
   "update-in"
   "use"
   "values"
   "var-"
   "varfn"
   "varglobal"
   "walk"
   "warn-compile"
   "when"
   "when-let"
   "when-with"
   "with"
   "with-dyns"
   "with-env"
   "with-syms"
   "with-vars"
   "xprin"
   "xprinf"
   "xprint"
   "xprintf"
   "yield"
   "zero?"
   "zipcoll"},
 :core-macros
 #{"%="
   "*="
   "++"
   "+="
   "--"
   "-="
   "->"
   "->>"
   "-?>"
   "-?>>"
   "/="
   "and"
   "as->"
   "as-macro"
   "as?->"
   "assert"
   "assertf"
   "case"
   "catseq"
   "chr"
   "comment"
   "compif"
   "comptime"
   "compwhen"
   "cond"
   "coro"
   "def-"
   "default"
   "defdyn"
   "defer"
   "defmacro"
   "defmacro-"
   "defn"
   "defn-"
   "delay"
   "doc"
   "each"
   "eachk"
   "eachp"
   "edefer"
   "fiber-fn"
   "for"
   "forever"
   "forv"
   "generate"
   "if-let"
   "if-not"
   "if-with"
   "import"
   "juxt"
   "label"
   "let"
   "loop"
   "match"
   "or"
   "prompt"
   "protect"
   "repeat"
   "seq"
   "short-fn"
   "tabseq"
   "toggle"
   "tracev"
   "try"
   "unless"
   "use"
   "var-"
   "varfn"
   "when"
   "when-let"
   "when-with"
   "with"
   "with-dyns"
   "with-env"
   "with-syms"
   "with-vars"}}
